<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars Page</title>
</head>
<body>
<h1>All Users</h1>

<table>
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${allUsers}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/updateInfo/{id}(id=${user.id})}" class="btn btn-primary">Update</a>

            <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/addNewUser}" class="btn btn-primary">Add New User</a>

</body>
</html>