<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New User</title>
</head>
<body>
<h1>Add New User</h1>
<form th:action="@{/saveUser}" method="post">

  <input type="hidden" name="id" th:field="${user.id}" th:value="0" />

  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" th:field="${user.firstName}" required><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" th:field="${user.lastName}" required><br>

  <label for="age">Age:</label>
  <input type="number" id="age" name="age" th:field="${user.age}" required><br>

  <input type="submit" value="Create" class="btn btn-primary">
</form>
<a th:href="@{/}" class="btn btn-secondary">Cancel</a>
</body>
</html>